@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section styles{
    <link src="abc.css" />
}*@

<h6>@ViewBag.FullName</h6>

@*@section scripts{
   <script type="text/javascript">
       alert("Page Loaded");
   </script>
}*@