
@{
    ViewData["Title"] = "Category Process";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles
{

}


<div class="row">
    <div class="col-lg-12">
        <!--begin::Card-->
        <div class="card card-custom gutter-b example example-compact">
            <div class="card-header">
                <h3 class="card-title">@ViewData["Title"]</h3>
                <div class="card-toolbar">
                    <div class="example-tools justify-content-center">

                    </div>
                </div>
            </div>
            <!--begin::Form-->
            <form id="categoryForm" class="form">
                <div class="card-body">
                    <div class="form-group">
                        <label>Category Name:</label>
                        <input id="category" type="text" name="category" class="form-control form-control-solid" placeholder="Enter category name" />
                    </div>
                </div>
                <div class="card-footer">
                    <button id="btnSave" type="button" class="btn btn-primary mr-2">Save</button>
                    <button type="reset" class="btn btn-secondary">Clear</button>
                </div>
            </form>
            <!--end::Form-->
        </div>
        <!--end::Card-->
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        "use strict";

        // Class Definition
        var KTCategory = function () {
            var _category;

            var _handleCategoryForm = function () {
                var validation;

                // Init form validation rules. For more info check the FormValidation plugin's official documentation:https://formvalidation.io/
                validation = FormValidation.formValidation(
                    KTUtil.getById('categoryForm'),
                    {
                        fields: {
                            category: {
                                validators: {
                                    notEmpty: {
                                        message: 'CategoryName is not empty!'
                                    }
                                }
                            }
                        },
                        plugins: {
                            trigger: new FormValidation.plugins.Trigger(),
                            submitButton: new FormValidation.plugins.SubmitButton(),
                            //defaultSubmit: new FormValidation.plugins.DefaultSubmit(), // Uncomment this line to enable normal button submit after form validation
                            bootstrap: new FormValidation.plugins.Bootstrap()
                        }
                    }
                );

                $('#btnSave').on('click', function (e) {
                    e.preventDefault();

                    validation.validate().then(function (status) {
                        if (status == 'Valid') {

                            $.ajax({
                                type: "POST",
                                dataType: "JSON",
                                url: '@Url.Action("SaveCategory","Category")',
                                data: { categoryName: $("#category").val(),  },
                                success: function (result) {
                                    if (result) {
                                        toastr.success("Category Added !");
                                    } else {
                                        toastr.error("Process does not completed !");
                                    }
                                }
                            });


                        } else {
                            swal.fire({
                                text: "Üzgünüz, Formunuzda birkaç hata algılandı, Lütfen Tekrar Deneyin !",
                                icon: "error",
                                buttonsStyling: false,
                                confirmButtonText: "Tamam, Anladım",
                                customClass: {
                                    confirmButton: "btn font-weight-bold btn-light-primary"
                                }
                            }).then(function () {
                                KTUtil.scrollTop();
                            });
                        }
                    });
                });

            }

      

            // Public Functions
            return {
                // public functions
                init: function () {
                    _category = $('#categoryForm');

                    _handleCategoryForm();
                }
            };
        }();

        // Class Initialization
        jQuery(document).ready(function () {       
            KTCategory.init();
        });

    </script>
}